<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="bus.css" />


    <img src="ohoh.png" width="300px" height="300px" />
    <img src="taxi.gif" width="300px" height="300px" style="top: -80px;left: 0px;" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!--Stylesheet-->
    <style>
        body {
            background-color: rgb(133 208 187);
        }
        
        .backgroud {
            background-image: url("background.jpg");
            background-position: center;
            background-repeat: no-repeat;
            height: 400px;
            background-size: cover;
            margin: auto;
        }
        
        .backgroud img {
            position: relative;
            top: 200px;
        }
        
        .shape {
            width: 250px;
            height: 150px;
        }
        
        .Buttons {
            width: 40%;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 40px;
        }
        
        .Buttons button {
            padding: 10px;
            border-radius: 5px;
            background-color: #121113;
            color: white;
        }
    </style>

</head>

<body>

    <section>
        <h1>Taxi</h1>

        <div class="tbl-header">
            <table>
                <thead>
                    <tr>
                        <th>Prenom</th>
                        <th>Nom</th>
                        <th>Telephone</th>
                        <th>Matricule</th>
                        <th>heure de départ
                        </th>
                        <th>Destination</th>

                        <th>N°Taxi</th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="tbl-content">
            <table>
                <tbody>

                    <tr>
                        <% data.forEach((e, reserverTaxi)=> { %>
                            { %>
                            <td>
                                <%=e.Prenom %>
                            </td>
                            <td>
                                <%=e.Nom%>
                            </td>
                            <td>
                                <%=e.Tele %>
                            </td>
                            <td>
                                <%=e.Matricule %>
                            </td>

                            <td>
                                <%=e.HdP %>
                            </td>
                            <td>
                                <%=e.Destination %>
                            </td>
                            <td>
                                <%=e.num %>
                            </td>

                            <td>
                                <button class="btn"><a href="/delete/Taxi/<%= e._id %>"class="fa fa-trash"></a></button>
                                <button class="btn"><a href="/edit/Taxi/<%= e._id %>"class="fa fa-edit"></a></button>



                            </td>

                    </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </section>